<section class="tarjeta" [class.tarjeta--sin-relleno]="sinRelleno()">
  @if (titulo()) {
    <header class="tarjeta__cabecera">
      <div class="tarjeta__titulo-zona">
        @if (conAsa()) {
          <span class="tarjeta__asa" aria-hidden="true">
            <i></i><i></i><i></i>
            <i></i><i></i><i></i>
          </span>
        }
        <h2 class="tarjeta__titulo">{{ titulo() }}</h2>
      </div>

      <div class="tarjeta__acciones">
        <ng-content select="[acciones]" />
      </div>
    </header>
  }

  <div class="tarjeta__cuerpo">
    <ng-content />
  </div>
</section>
