@use '../../../../estilos/mixins' as m;

:host {
  display: inline-block;
  line-height: 0;
}

.avatar {
  @include m.centrar;

  border-radius: 50%;
  overflow: hidden;
  font-weight: 600;
  letter-spacing: 0.02em;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--con-borde {
    box-shadow: 0 0 0 3px var(--color-superficie);
  }
}
